//*****************************************************
// BASE MODULE
//*****************************************************

.module {

  border: 1px solid $moduleOutlineColor;
  background-color: #FFF;
  min-height: 400px;
    padding-bottom:60px;
  position:relative;

  h3 {


  	margin:  0 20px;
  }


 p {
 	 word-wrap: break-word;
 }

}