<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <!--<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>-->
  <Provider alias="media"
             type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
    <Parameters>
      <add key="containerName" value="media" />
      <add key="rootUrl" value="http://umbracoboilerplate.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=umbracoboilerplate;AccountKey=dZqwecu81E/wWWxaeFnEC3HOpIyUlZcOk2f1KtrFjVcTth3yZO773mc+ZNSYWc/QNrwHJI95JqbaS282Zmzx3w=="/>
    </Parameters>
  </Provider>
</FileSystemProviders>
